<!DOCTYPE html>
<html>
  <head>
    <title>Your Character</title>
    <link href='main.css' type='text/css' rel='stylesheet'/>
  </head>
  <body>
    <script type='text/javascript' src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type='text/javascript' src='character.js'></script>
    <div class='header' contenteditable='true' id='name'>Adventurer</div>
    <div class='column' id='stats'>
      <div class='base'>
        <div class='capper'>STR</div>
        <div class='stat' id='str' contenteditable='true'>0</div>
        <div class='mod' id='str_mod'>0</div>
      </div>
      <div class='base'>
        <div class='capper'>DEX</div>
        <div class='stat' id='dex' contenteditable='true'>0</div>
        <div class='mod' id='dex_mod'>0</div>
      </div>
      <div class='base'>
        <div class='capper'>CON</div>
        <div class='stat' id='con' contenteditable='true'>0</div>
        <div class='mod' id='con_mod'>0</div>
      </div>
      <div class='base'>
        <div class='capper'>WIS</div>
        <div class='stat' id='wis' contenteditable='true'>0</div>
        <div class='mod' id='wis_mod'>0</div>
      </div>
      <div class='base'>
        <div class='capper'>INT</div>
        <div class='stat' id='int' contenteditable='true'>0</div>
        <div class='mod' id='int_mod'>0</div>
      </div>
      <div class='base'>
        <div class='capper'>CHA</div>
        <div class='stat' id='cha' contenteditable='true'>0</div>
        <div class='mod' id='cha_mod'>0</div>
      </div>
    </div>
    <div class='column' id='random'>
      <table class='random'>
        <tr>
          <td colspan='2'>
            <div class='base three'>
              <div class='capper'>HP</div>
              <div class='stat' id='hp' contenteditable='true'>0/0</div>
            </div>
          </td>
          <td>
            <div class='base' id='roll'>Roll</div>
          </td>
        </tr>
        <tr>
          <td>
            <div class='base'>
              <div class='capper'>AC</div>
              <div class='stat' id='ac' contenteditable='true'>0</div>
            </div>
          </td>
          <td>
            <div class='base'>
              <div class='capper'>PRO</div>
              <div class='stat' id='proficiency' contenteditable='true'>0</div>
            </div>
          </td>
          <td>
            <div class='base'>
              <div class='capper'>Gold</div>
              <div class='stat' id='gold' contenteditable='true'>0</div>
            </div>
          </td>
        </tr>
      </table>
      <div class='base two'>
        <div class='capper'>Equipment</div>
        <div id='equipped' contenteditable='true'>
          <i>Longsword</i> - 1d8
          <div>&nbsp; &nbsp; versatile</div>
          <div><i>Shield</i></div>
        </div>
      </div>
      <div class='base two'>
        <div class='capper'>Inventory</div>
        <div id='inventory' contenteditable='true'>Common Clothes</div>
      </div>
    </div>
    <div class='column' id='skills'>
      <div class='base two'>
        <div class='capper'>Skills</div>
        <table>
          <tbody>
            <tr>
              <td>Athletics</td>
              <td id='athletics'>0</td>
            </tr>
            <tr>
              <td>Acrobatics</td>
              <td id='acrobatics'>0</td>
            </tr>
            <tr>
              <td>Sleight of Hand</td>
              <td id='sleight'>0</td>
            </tr>
            <tr>
              <td>Stealth</td>
              <td id='stealth'>0</td>
            </tr>
            <tr>
              <td>Arcana</td>
              <td id='arcana'>0</td>
            </tr>
            <tr>
              <td>History</td>
              <td id='hist'>0</td>
            </tr>
            <tr>
              <td>Investigation</td>
              <td id='investigation'>0</td>
            </tr>
            <tr>
              <td>Nature</td>
              <td id='nature'>0</td>
            </tr>
            <tr>
              <td>Religion</td>
              <td id='religion'>0</td>
            </tr>
            <tr>
              <td>Animal Handling</td>
              <td id='animal'>0</td>
            </tr>
            <tr>
              <td>Insight</td>
              <td id='insight'>0</td>
            </tr>
            <tr>
              <td>Medicine</td>
              <td id='medicine'>0</td>
            </tr>
            <tr>
              <td>Perception</td>
              <td id='perception'>0</td>
            </tr>
            <tr>
              <td>Survival</td>
              <td id='Survival'>0</td>
            </tr>
            <tr>
              <td>Deception</td>
              <td id='deception'>0</td>
            </tr>
            <tr>
              <td>Intimidation</td>
              <td id='intimidation'>0</td>
            </tr>
            <tr>
              <td>Performance</td>
              <td id='perform'>0</td>
            </tr>
            <tr>
              <td>Persuasion</td>
              <td id='persuasion'>0</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class='base two'>
        <div class='capper'>Proficiencies</div>
        <div id='proficiencies' contenteditable='true'>Common</div>
      </div>
    </div>
    <div class='column'>
      <div class='base two'>
        <div class='capper'>Background</div>
        <div id='background' contenteditable='true'>Soldier</div>
      </div>
      <div class='base two'>
        <div class='capper'>Spells/Abilities</div>
        <div id='spells' contenteditable='true'>Magic Missile</div>
      </div>
    </div>
  </body>
</html>
