<!DOCTYPE html>
<html>
  <head>
    <title>Your Character</title>
    <link href='main.css' type='text/css' rel='stylesheet'/>
  </head>
  <body>
    <script type='text/javascript' src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type='text/javascript' src='character.js'></script>
    <div class='header' contenteditable='true' id='name'>Adventurer</div>
    <div class='column' id='stats'>
      <div class='base'>
        <div class='capper'>STR</div>
        <div class='stat' id='str' contenteditable='true'>0</div>
        <div class='mod' id='str_mod'>0</div>
      </div>
      <div class='base'>
        <div class='capper'>DEX</div>
        <div class='stat' id='dex' contenteditable='true'>0</div>
        <div class='mod' id='dex_mod'>0</div>
      </div>
      <div class='base'>
        <div class='capper'>CON</div>
        <div class='stat' id='con' contenteditable='true'>0</div>
        <div class='mod' id='con_mod'>0</div>
      </div>
      <div class='base'>
        <div class='capper'>INT</div>
        <div class='stat' id='int' contenteditable='true'>0</div>
        <div class='mod' id='int_mod'>0</div>
      </div>
      <div class='base'>
        <div class='capper'>WIS</div>
        <div class='stat' id='wis' contenteditable='true'>0</div>
        <div class='mod' id='wis_mod'>0</div>
      </div>
      <div class='base'>
        <div class='capper'>CHA</div>
        <div class='stat' id='cha' contenteditable='true'>0</div>
        <div class='mod' id='cha_mod'>0</div>
      </div>
    </div>
    <div class='column' id='random'>
      <table class='random'>
        <tr>
          <td colspan='2'>
            <div class='base three'>
              <div class='capper'>HP</div>
              <div class='stat' id='hp' contenteditable='true'>0/0</div>
            </div>
          </td>
          <td>
            <div class='base' id='roll'>Roll</div>
          </td>
        </tr>
        <tr>
          <td>
            <div class='base'>
              <div class='capper'>AC</div>
              <div class='stat' id='ac' contenteditable='true'>0</div>
            </div>
          </td>
          <td>
            <div class='base'>
              <div class='capper'>PRO</div>
              <div class='stat' id='proficiency' contenteditable='true'>0</div>
            </div>
          </td>
          <td>
            <div class='base'>
              <div class='capper'>Gold</div>
              <div class='stat' id='gold' contenteditable='true'>0</div>
            </div>
          </td>
        </tr>
      </table>
      <div class='base two'>
        <div class='capper'>Equipment</div>
        <div id='equipment' contenteditable='true'></div>
      </div>
      <div class='base two'>
        <div class='capper'>Inventory</div>
        <div id='inventory' contenteditable='true'></div>
      </div>
    </div>
    <div class='column'>
      <div class='base two'>
        <div class='capper'>Skills</div>
        <table id='skills'>
          <tbody>
            <tr class='skill' id='athletics_row'>
              <td>Athletics</td>
              <td class = 'right' id='athletics'>0</td>
            </tr>
            <tr class='skill' id='acrobatics_row'>
              <td>Acrobatics</td>
              <td class = 'right' id='acrobatics'>0</td>
            </tr>
            <tr class='skill' id='sleight_row'>
              <td>Sleight of Hand</td>
              <td class = 'right' id='sleight'>0</td>
            </tr>
            <tr class='skill' id='stealth_row'>
              <td>Stealth</td>
              <td class = 'right' id='stealth'>0</td>
            </tr>
            <tr class='skill' id='arcana_row'>
              <td>Arcana</td>
              <td class = 'right' id='arcana'>0</td>
            </tr>
            <tr class='skill' id='hist_row'>
              <td>History</td>
              <td class = 'right' id='hist'>0</td>
            </tr>
            <tr class='skill' id='investigation_row'>
              <td>Investigation</td>
              <td class = 'right' id='investigation'>0</td>
            </tr>
            <tr class='skill' id='nature_row'>
              <td>Nature</td>
              <td class = 'right' id='nature'>0</td>
            </tr>
            <tr class='skill' id='religion_row'>
              <td>Religion</td>
              <td class = 'right' id='religion'>0</td>
            </tr>
            <tr class='skill' id='animal_row'>
              <td>Animal Handling</td>
              <td class = 'right' id='animal'>0</td>
            </tr>
            <tr class='skill' id='insight_row'>
              <td>Insight</td>
              <td class = 'right' id='insight'>0</td>
            </tr>
            <tr class='skill' id='medicine_row'>
              <td>Medicine</td>
              <td class = 'right' id='medicine'>0</td>
            </tr>
            <tr class='skill' id='perception_row'>
              <td>Perception</td>
              <td class = 'right' id='perception'>0</td>
            </tr>
            <tr class='skill' id='survival_row'>
              <td>Survival</td>
              <td class = 'right' id='survival'>0</td>
            </tr>
            <tr class='skill' id='deception_row'>
              <td>Deception</td>
              <td class = 'right' id='deception'>0</td>
            </tr>
            <tr class='skill' id='intimidation_row'>
              <td>Intimidation</td>
              <td class = 'right' id='intimidation'>0</td>
            </tr>
            <tr class='skill' id='perform_row'>
              <td>Performance</td>
              <td class = 'right' id='perform'>0</td>
            </tr>
            <tr class='skill' id='persuasion_row'>
              <td>Persuasion</td>
              <td class = 'right' id='persuasion'>0</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class='base two'>
        <div class='capper'>Proficiencies</div>
        <div id='proficiencies' contenteditable='true'></div>
      </div>
    </div>
    <div class='column'>
      <div class='base two'>
        <div class='capper'>Background</div>
        <div id='background' contenteditable='true'></div>
      </div>
      <div class='base two'>
        <div class='capper'>Spells/Abilities</div>
        <div id='spells' contenteditable='true'></div>
      </div>
      <div class='textload'>
        <textarea id='text'></textarea>
        <div class='save' id='get'>Get text save</div>
        <div class='save' id='load'>Load from text</div>
      </div>
    </div>
    <div id='i_holder'>
      <iframe id='i' src='http://a.teall.info/dice/'></iframe>
      <div id='i_close'>x</div>
      <div id='i_cover'>Credit to <a href='http://a.teall.info/dice/'>a.teall.info/dice/</a></div>
    </div>
    <div class='save' id='save'>Save</div>
  </body>
</html>
