<!DOCTYPE html>
<html>
<head>
  <title>Dunder</title>
  <link type='text/css' rel='stylesheet' href='main.css'/>
</head>
<body>
  <script>
  if (localStorage.getItem('player')) {
    window.location = 'https://dunder.herokuapp.com/character'
  }
  </script>
  <div class='home'>
    <div class='button big' onclick='window.location = "https://dunder.herokuapp.com/creation"'>Create a Character</div>
    <div class='button big' onclick='window.location = "https://dunder.herokuapp.com/character"'>Load a Character</div>
  </div>
</body>
</html>
